.home-page {
    padding: 104px 12%;
}

.personal-info {
    display: flex;
    align-items: center;
    margin: 0 0 56px 0;
}

.personal-info img {
    margin: 0 40px 0 0;
    width: 160px;
    height: 160px;
    line-height: 160px;
    border-radius: 50%;
    text-align: center;
}

.personal-info h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--text-main);
}

.personal-info p {
    max-width: 504px;
    margin: 16px 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-main);
}

.profile__nav-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px;
}

.profile__nav-list li:not(:last-child) {
    margin: 0 32px 0 0;
}

.profile__nav-list a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: var(--text-main);
}

.create-recepie-btn {
    padding: 16px 32px;
}
