.home-page {
    padding: 104px 12%;
}

.personal-info {
    display: flex;
    margin: 0 0 56px 0;
}

.avatar {
    width: 160px;
    height: 160px;
    line-height: 160px;
    margin: 0 0 10px 0;
    border-radius: 50%;
    text-align: center;
}

.avatar--blurred {
    opacity: 0.5;
}

.avatar-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px 0 0;
}

.avatar-block {
    position: relative;
}

.camera-icon {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 52px;
    height: 42px;
    cursor: pointer;
}

.avatar-block input {
    position: absolute;
    top: 70px;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.personal-info h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--text-main);
}

.personal-info p {
    max-width: 504px;
    margin: 16px 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-main);
}

.profile__nav-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 34px;
}

.profile__nav-list li:not(:last-child) {
    margin: 0 32px 0 0;
}

.profile__nav-btn {
    padding: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: var(--text-main);
    background-color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.profile__nav-btn:hover {
    color: var(--primary-yellow);
}

.profile__nav-btn--active {
    border-bottom: 2px solid var(--primary-yellow);
}

.create-recepie-btn {
    padding: 16px 32px;
}