.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
}

.main-btn {
  border: 0;
  border-radius: 10px;
  outline: 0;
  line-height: 30px;
  font-weight: 700;
  font-size: 20px;
  background-color: var(--primary-yellow);
  color: var(--text-main);
  cursor: pointer;
}

.error-info {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ff0000;
}